* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: linear-gradient(
    to right,
    #eee 24%,
    #ccc 24%,
    #ccc 48%,
    #eee 48%,
    #eee 72%,
    #ccc 72%
    );
}

.main div {
  display: inline-block;
  height: 100%;
  width: 21%;
  padding: 50px 20px 50px 20px;
}
