body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.outer {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> htmlcss
  width: 400px;
  height: 400px;
  padding: 200px;
}

.inside {
<<<<<<< HEAD
=======
=======
  width: 30vw;
  height: 30vw;
  border: 1px solid;
  font-size: 1.5vmax;
  /* padding: 200px; */
}

/* .inside {
>>>>>>> labs
>>>>>>> htmlcss
  position: relative;
  width: 100%;
}

.inside::after {
  content: '';
  display: block;
  padding-top: 100%;
}

.inside p {
  border: 1px solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
} */
>>>>>>> labs
>>>>>>> htmlcss
