@import "../vars/colors";

@media screen and (max-width: 1023px) {
  header {
    .burger {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 30px 20px;
      float: right;
      cursor: pointer;
      img {
        width: 100%;
      }
      &:hover {
        transition: 0.3s;
        transform: rotate(270deg);
      }
    }
    .dark {
      position: fixed;
      z-index: 7;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(160, 160, 160, 0.8);
      opacity: 0;
    }
    .sidemenu {
      position: fixed;
      z-index: 10;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100vh;
      right: -300px;
      top: 0;
      border-left: 5px solid black;
      background-color: white;
      transition: 0.5s;
      .cls {
        display: block;
        padding: 5px 25px;
        border: 1px solid;
        font-size: 15px;
        margin: 30px auto 0 auto;
        &:hover {
          color: white;
          background-color: $red;
          cursor: pointer;
        }
      }
      nav {
        display: block;
        padding: 45px 40px 45px 40px;
        overflow-y: auto;
      }
      li {
        display: block;
        text-align: center;
        margin-bottom: 25px;
        a {
          margin: 0;
        }
      }
      .in {
        display: block;
        text-align: center;
        border-bottom: 3px dotted black;
        font-size: 30px;
      }
      .log {
        display: block;
        margin: 25px auto;
      }
      .bot {
        display: block;
        border-top: 5px solid black;
        margin-top: auto;
        .social {
          display: flex;
          justify-content: space-around;
          margin: 25px 0;
        }
        a {
          display: inline-block;
          width: 50px;
          height: 50px;
          background-image: url('../images/social-sprite.png');
          background-size: auto 100px;
          &:nth-child(1) {
            background-position: 0 top;
          }
          &:nth-child(1):hover {
            background-position: 0 bottom;
          }
          &:nth-child(2) {
            background-position: 52px top;
          }
          &:nth-child(2):hover {
            background-position: 52px bottom;
          }
          &:nth-child(3) {
            background-position: 153px top;
          }
          &:nth-child(3):hover {
            background-position: 153px bottom;
          }
        }
        p {
          font-size: 20px;
          text-align: center;
          margin: 30px 20px;
        }
      }
    }
  }
  #click:checked + .dark + .sidemenu {
    transition: 0.5s;
    transform: translateX(-100%);
  }
  #click:checked + .dark {
    display: block;
    transition: 0.5s;
    opacity: 1;
  }

  .content {
    aside {
      border: none;
    }
  }


}


@media screen and (max-width: 800px) {
  .content {
    display: block;
    aside {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      position: static;
      border: 1px solid;
    }
  }



  aside div {
    text-align: center;
    position: static;
  }

  aside div a {
    display: inline;
    padding-right: 10px;
    font-size: 20px;
  }

  // header nav a {
  //   font-size: 12px;
  // }
}

@media screen and (max-width: 670px) {
//   header nav {
//     display: none;
//   }
//
//   header .burger:hover + nav,
//   nav:hover {
//     display: block;
//   }
//
//   header .burger {
//     display: block;
//     width: 50px;
//     height: 60px;
//     margin: auto;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
//
//   .burger img[alt=burger] {
//     width: 100%;
//   }
//
//   header nav {
//     position: absolute;
//     top: 180px;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     padding: 5px 0;
//     width: 40%;
//     height: 200px;
//     background-color: #e5e5e5;
//     border: 2px solid orange;
//   }
//
//   header nav {
//     li {
//       display: block;
//     }
//     a {
//       display: block;
//       text-align: center;
//       margin-bottom: 20px;
//       margin-right: 0;
//       font-size: 18px;
//     }
//   }
}

@media screen and (max-width: 420px) {
  .navbutt {
    div {
      span {
        display: none;
      }
    }
  }
}
